
/* Universal Styles */
#page-wrap {
  top: 0px;
  
}
html {
  font-size: 14px;
  background:#333333;
}

img{
  background-color: #dadee0;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  margin-top: 0px;
  background: #333333;
}

p{
  color: honeydew;
}

li{
  color: honeydew;
}

h1{
  color: honeydew;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: honeydew;
}

img {
  width: 100%;
}
#login h1{
  text-align: center;
}
canvas{
  position: fixed;
  
}
.row{
  z-index: 100;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(2200px, 1fr));
  background-color: #333333;
  min-width: 10%;
  background: #333333;

  box-shadow: inset -55px -32px 220px -20px rgb(80, 80, 80);
}
.row h2{

  font-weight: lighter;
}

.container{
    margin-top: 1rem;
    margin-bottom: 0px;
    border-top: 5px solid whitesmoke;
    background-color: #000000;
    z-index: 100;
    opacity: 100%;

}

li{
  margin-top: 10px;
  padding-bottom: 10px;
}

#über-mich{
  background: #333333;
  width: auto;
  margin-top: 0px;
  z-index: 100;
}
.featured-project {
  margin-top: -9rem; /* To account for relatively positioned button */
}
#image-top{
  height: 20rem;
  overflow: hidden;
}

.carousel-inner{
  -webkit-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
  -moz-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
  box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
}

h2.col-xs-12{
  background-color: #000;
}

.image-container{
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

.btn-primary {
  width: 100%;
  font-size: smaller;
  padding: 1.3rem 0;
  border: 0;
  margin-top: 0rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: .5s box-shadow;
  -webkit-transition: .5s box-shadow;
  -moz-transition: .5s box-shadow;
  -ms-transition: .5s box-shadow;
  -o-transition: .5s box-shadow;
}

.footer-copyright{
  padding-bottom: 2rem;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.image-container img {
  opacity: 1;
  transition: transform .5s,              opacity .5s;
  transition: transform .5s,              opacity .5s;
  -webkit-transition: transform .5s,;
  -moz-transition: transform .5s,;
  -ms-transition: transform .5s,;
  -o-transition: transform .5s,;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);

}

h1 {
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;     
}

.carousel-caption p {
  max-width: 70rem;
  font-size:30px;
  margin: auto;
}

.carousel-caption h2{
  font-size: 40px;
  color: azure;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;     
  
}

#email-button{
  position: relative;
  width: 30rem;
  margin: 0 auto;
}
#vorkontakt{
  position: relative;
  background: #333333;

  box-shadow: inset -55px -32px 220px -20px rgb(80, 80, 80);
}

@media only screen and (min-width: 982px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }  
  .carousel-caption h1{
    font-size:55px;
    color: #fff;
    text-shadow: 3px 0 0 #000, 0 -2px 0 #000, 0 3px 0 #000, -2px 0 0 #000;
}
  .carousel-caption h2{
    font-size: 35px;
  }
  .carousel-caption p{
    font-size:25px;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;    
  }
  .btn-primary{
    width: 100%;
    overflow: hidden;
    font-size: larger;
  }
  .row{
    min-width: 10%;
    border: solid 2px #399bd1; 
  }
  #image-top{
    height: 18rem;
  }
  #kontakt h1{
    position: relative;
  }
  #kontakt p{
    position: relative;
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-caption h1{
    font-size:40px;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
  .carousel-caption h2{
    font-size: 32px;
  }
  .carousel-caption p{
    font-size:23px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;    
  }
}


@media only screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
  .btn-primary{
    width: 100%;
    overflow: hidden;
  }
  iframe{
    display: none;
  }
  #vorkontakt{
    display: none;
  }
  #image-top{
    height: 15rem;
  }
  .image-container{
    border: solid 2px #399bd1; 
  }
  .image-container img {
    opacity: 1;
    transition: transform .5s,              opacity .5s;
    transition: transform .5s,              opacity .5s;
    -webkit-transition: transform .5s,;
    -moz-transition: transform .5s,;
    -ms-transition: transform .5s,;
    -o-transition: transform .5s,;
  }
  .carousel-caption h1{
    font-size:30px;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
  .carousel-caption h2{
    font-size: 32px;
  }
  .carousel-caption p{
    font-size:19px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;    
  }
}

@media only screen and (max-width: 445px) {
  .featured-project {
    margin-top: -14rem; /* To account for relatively positioned button */
  }
  .jumbotron h1 {
    font-size: 4rem;
  }
  .btn-primary{
    width: 100%;
    overflow: hidden;
    font-size: small;
  }
  .image-container{
    height: fit-content;
  }
  iframe{
    display: none;
  }
  #email-button{
    display: block;
    width: 100%;
  }
  #image-top{
    height: 10rem;
  }
  #mbf8i3ebul_wrapper{
    display: none;
  }
  header{
    display: none;
  }
  .carousel-caption h1{
    font-size:25px;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
  .caption-caption h2{
    font-size: 20px;
  }
  .carousel-caption p{
    font-size:15px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;    
  }
}

@media only screen and (max-width: 300px) {

  #image-top{
    height: 8rem;
  }
  .carousel-caption h1{
    font-size:20px;
    color: #fff;
    text-shadow: unset;
}
  .carousel-caption h2{
    font-size: 15px;
  }
  .carousel-caption p{
    font-size:11px;
    color: #fff;
    text-shadow: unset; 
  }
}

#image-top img {
  scale: 100%;
  margin: 0 auto;
}



.featured-project .image-container {
  height: 17rem;
  margin-top: 0px; /* To match bootstrap header margins */
}

.row{
  margin-top: 0px;
}

.categories h3 {
  color: #399bd1;
}

.project {
  margin-bottom: 0rem;
}

.help {
  
  background:#333333;
  text-align: center;
}

.help p {
  max-width: 42rem;
  margin: auto;
}

#sprachen{
  width: 66%;
  margin:0 auto;
  
}

#particles-js{
  
  height:200px;
}
