
/* Universal Styles */
#page-wrap {
  position: relative;
  width: 13px;
  margin: 0px auto; 
  width: 95%;
  z-index: ;
  margin-top: -100px;
  
}
html {
  font-size: 14px;
  background: rgb(93,93,93);
background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(25,25,28,1) 56%, rgba(102,102,102,1) 100%);
}

img{
  background-color: #dadee0;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  margin-top: 0px;
  background: rgb(93,93,93);
  background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(25,25,28,1) 56%, rgba(102,102,102,1) 100%);
}

p{
  color: honeydew;
}

li{
  color: honeydew;
}

h1{
  color: honeydew;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: honeydew;
}

img {
  width: 100%;
}
#login h1{
  text-align: center;
}

.row{
  grid-template-columns: repeat(auto-fill, minmax(2200px, 1fr));
  background-color: rgb(73, 73, 73);
  min-width: 10%;
  background: rgb(25,25,28);
  background: linear-gradient(90deg, rgba(25,25,28,1) 0%, rgba(51,51,51,1) 50%, rgba(0,0,0,1) 100%);
  -webkit-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
  -moz-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
  box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
}

.container{
    margin-top: 1rem;
    margin-bottom: 0px;
    border-top: 5px solid whitesmoke;
    background: rgb(25,25,28);
    background: linear-gradient(90deg, rgba(25,25,28,1) 0%, rgba(51,51,51,1) 50%, rgba(0,0,0,1) 100%);
    -webkit-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
    -moz-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
    box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

li{
  margin-top: 10px;
  padding-bottom: 10px;
}

#über-mich{
  background: rgb(93,93,93);
background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(25,25,28,1) 56%, rgba(102,102,102,1) 100%);;
  margin-top: 120px;
}

#image-top{
  height: 20rem;
  overflow: hidden;
}

.carousel-inner{
  -webkit-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
  -moz-box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
  box-shadow: inset -55px -32px 220px -20px rgba(163,163,163,1);
}

h2.col-xs-12{
  background-color: #000;
}

.image-container{
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

.btn-primary {
  width: 100%;
  font-size: smaller;
  padding: 1.3rem 0;
  border: 0;
  margin-top: 0rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: .5s box-shadow;
  -webkit-transition: .5s box-shadow;
  -moz-transition: .5s box-shadow;
  -ms-transition: .5s box-shadow;
  -o-transition: .5s box-shadow;
}

.footer-copyright{
  padding-bottom: 2rem;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.image-container img {
  opacity: 0.9;
  transition: transform .5s,              opacity .5s;
  transition: transform .5s,              opacity .5s;
  -webkit-transition: transform .5s,;
  -moz-transition: transform .5s,;
  -ms-transition: transform .5s,;
  -o-transition: transform .5s,;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);

}

h1 {
  font-family: "Monoton", sans-serif;
  font-size: 50px;
}

.carousel-caption p {
  max-width: 70rem;
  font-size:30px;
  margin: auto;
}

#email-button{

  width: 30rem;
  margin: 0 auto;
}

@media only screen and (min-width: 982px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }  
  .carousel-caption h1{
    font-size:25px;
  }
  .carousel-caption p{
    font-size:25px;
  }
  .btn-primary{
    width: 100%;
    overflow: hidden;
    font-size: smaller;
  }
  .row{
    min-width: 10%;
    border: solid 2px #399bd1; 
  }
  #image-top{
    height: 18rem;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
  .btn-primary{
    width: 100%;
    overflow: hidden;
  }
  iframe{
    display: none;
  }
  #vorkontakt{
    display: none;
  }
  #image-top{
    height: 15rem;
  }
  .image-container{
    border: solid 2px #399bd1; 
  }
  .image-container img {
    opacity: 1;
    transition: transform .5s,              opacity .5s;
    transition: transform .5s,              opacity .5s;
    -webkit-transition: transform .5s,;
    -moz-transition: transform .5s,;
    -ms-transition: transform .5s,;
    -o-transition: transform .5s,;
  }
}

@media only screen and (max-width: 445px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
  .btn-primary{
    width: 100%;
    overflow: hidden;
    font-size: small;
  }
  .image-container{
    height: fit-content;
  }
  iframe{
    display: none;
  }
  #email-button{
    display: block;
    width: 100%;
  }
  #image-top{
    height: 10rem;
  }
  #mbf8i3ebul_wrapper{
    display: none;
  }
}

@media only screen and (max-width: 300px) {

  #image-top{
    height: 8rem;
  }
}

#image-top img {
  scale: 100%;
  margin: 0 auto;
}

.featured-project {
  margin-top: -8rem; /* To account for relatively positioned button */
}

.featured-project .image-container {
  height: 17rem;
  margin-top: 0px; /* To match bootstrap header margins */
}

.row{
  margin-top: 0px;
}

.categories h3 {
  color: #399bd1;
}

.project {
  margin-bottom: 0rem;
}

.help {
  
  background: rgb(93,93,93);
background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(25,25,28,1) 56%, rgba(102,102,102,1) 100%);
  text-align: center;
}

.help p {
  max-width: 42rem;
  margin: auto;
}

#sprachen{
  width: 66%;
  margin:0 auto;
  
}

#particles-js{
  
  height:200px;
}
